/* 开店计划详情页面样式 */

.container {
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.headerLeft {
  display: flex;
  align-items: center;
}
